body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 70px;
    background-color: #f9f9f9;
  }
  
  header {
    background: linear-gradient(to  right, #ffffff, #3f72d2,rgb(15, 80, 154));
    color: #393838;
    padding: 17px;
    text-align: left;
    box-shadow: 6px 7px 12px rgb(9, 33, 87);
    margin-top: -60px;

  }
  main>.products{

  }

  
  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }
  
  .product {
    border: 2px solid #000000;
    padding: 30px;
    text-align: center;
    box-shadow: #13607f 12px 12px 12px ;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .product-name {
    font-weight: bold;
  }
  
  .product-price {
    color: #000000;
    margin-top: 5px;
  }
  nav{
    background: linear-gradient(to  left, #ffffff, #3f72d2,rgb(15, 80, 154));
  color: var(--cor5);
  box-shadow: 14px 7px 9px black;
  padding: 7px 15px;
  text-align: left;
  text-decoration: solid;

  }
  nav> a {
    color:#ffffff;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .4s;
    }
    nav> a:hover{
      background-color: #ffffff;
      color: #143d5f;
    
    }
    main>section.videospub{
    padding: 1px;
    height: 300px;
    width: auto;
     
    }
  
    
   

footer{
 background-color: #4858aa;
 text-align: center;
 text-transform: capitalize;
 padding: 50px;
}
/* Defina a animação usando @keyframes */
@keyframes changeColor {
  0% { color: rgb(0, 0, 0); } /* Cor inicial */
  50% { color: rgb(100, 100, 211); } /* Cor intermediária */
  100% { color: rgb(0, 1, 58); } /* Cor final */
}

/* Aplique a animação ao elemento <h2> */
main>section.whatsapp{
  background-color: #a8d4e6;
  padding: ;
  text-align: justify;
}
main>section>img{
  text-size-adjust: 12px;
}
main {
  background-color: #f2f2f2;
  padding: 20px;
  transition: box-shadow 0.3s, transform 0.3s;
}

main>section.products:hover {
  box-shadow: 0 2px 4px rgba(44, 100, 255, 0.2);
  transform: scale(1.02);
}


  


