body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: left;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }
  
  .product {
    border: 2px solid #ddd;
    padding: 70px;
    text-align: center;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .product-name {
    font-weight: bold;
  }
  
  .product-price {
    color: #007BFF;
    margin-top: 5px;
  }
  nav{
    background-color: #123aa7;
  color: var(--cor5);
  box-shadow: 14px 7px 9px black;
  padding: 7px 15px;
  text-align: left;
  text-decoration: solid;

  }
  nav> a {
    color:#4e8aa5;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .4s;
    }
    nav> a:hover{
      background-color: #266792;
      color: #143d5f;
    
    }
    main>section.videospub{
    padding: 1px;
    height: 300px;
    width: auto;
     
    }
    div.videopub {
    
width: 640px;}